body
{
    background-color: rgb(223, 207, 186);
}

h1
{
    color: blueviolet;
    background-color: aqua;
}

#show_sketch
{
    float: right;
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px turquoise;}
    to{box-shadow: 1px 1px 38px rgb(245, 126, 239);}
}


p
{
    padding-top: 10px;
    font-size: 25px;
}